@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ui-font);
  font-weight: 400;
  line-height: 1.45;
}

h1,
h2 {
  font-family: var(--ui-font);
  font-weight: 600; /* will use Graphik Semibold if available */
}
strong {
  font-family: var(--ui-font);
  font-weight: 600; /* will use Graphik Semibold if available */
}

.italic-text {
  font-family: var(--serif-font);
  font-style: italic; /* FreightTextPro italic will be used when requested */
}
